/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $cardBg;
    box-shadow: 0 7px 7px rgba(0, 0, 0, .12);
    @media (min-width: 768px) {
        display: block;
    }
    .mobile_logo {
        padding: 15px;
        @media (min-width: 768px) {
            display: none;
        }
        img {
            width: 40px;
        }
    }
    .site_header {
        .row {
            padding: 0;
        }
        @media (min-width: 768px) {
            padding: 15px 0;
            background-color: $cardBg;
            .row {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 15px;
            }
        }
        .header_btn {
            font-size: 12px;
            text-transform: uppercase;
            box-shadow: 0 0 10px rgba(0, 0, 0, .4);
            padding: 6px 10px;
            @media (min-width: 768px) {
                box-shadow: none;
                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
                }
            }
        }
    }
    .logo {
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
        img {
            @media (min-width: 768px) {
                width: 235px;
            }
        }
    }
}
// .top_navigation {
//     background-color: $darkBg;
//     padding: 15px;
//     @media (min-width: 768px) {
//         padding: 0;
//     }
//     input[type=checkbox]:checked ~ .top_menu {
//         left: 0;
//     }
//     label {
//         @include toggleBtn();
//     }
//     .top_menu {
//         position: absolute;
//         top: 55px;
//         left: -100%;
//         z-index: 1;
//         width: 100%;
//         list-style: none;
//         padding: 15px;
//         background-color: $darkBg;
//         transition: left $animTime;
//         box-shadow: 0 7px 7px rgba(0, 0, 0, .12);
//         @media (min-width: 768px) {
//             position: relative;
//             top: 0;
//             left: 0;
//             display: flex;
//             justify-content: flex-end;
//             padding: 0;
//         }
//         li {
//             padding: 10px 0;
//             position: relative;
//             @media (min-width: 768px) {
//                 padding: 6px 15px;
//             }
//             &::after {
//                 content: '';
//                 display: block;
//                 position: absolute;
//                 bottom: 0;
//                 left: 50%;
//                 transform: translate(-50%);
//                 height: 2px;
//                 width: 0;
//                 background-color: $greenStyle;
//                 transition: $animTime;
//             }
//             &:hover {
//                 background-color: #fff;
//             }
//             &:hover a {
//                 color: $darkBg;
//             }
//             &:hover::after {
//                 width: 100%;
//             }
//             a {
//                 color: $whiteText;
//             }
//             a {
//                 font-size: 13px;
//                 color: $whiteText;
//                 text-transform: uppercase;
//             }
//         }
//     }
// }
.main_navigation {
    padding: 15px;
    @media (min-width: 768px) {
        box-shadow: 0 10px 20px -12px rgba(0, 0, 0, .42),
                    0 3px 20px 0 rgba(0, 0, 0, .12),
                    0 8px 10px -5px rgba(0, 0, 0, .2);
        background-color: $cardBg;
        padding: 0;
    }
    .row {
        padding: 0;
    }
    input[type=checkbox]:checked ~ .main_menu {
        right: 0;
    }
    label {
        @include toggleBtn();
    }
}
.main_menu {
    display: inline-block;
    height: 100vh;
    list-style: none;
    position: absolute;
    top: 55px;
    right: -105%;
    z-index: 7;
    padding: 15px;
    background-color: $cardBg;
    box-shadow: 0 7px 7px rgba(0, 0, 0, .12);
    transition: right $animTime;
    @media (min-width: 768px) {
        text-align: center;
        box-shadow: none;
        position: relative;
        top: 0;
        right: 0;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }
    > li {
        padding: 10px 0;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            height: 2px;
            width: 0;
            background-color: $greenStyle;
            transition: $animTime;
        }
        &:hover::after {
            width: 100%;
        }
        &:hover > .submenu {
            top: 45px;
            z-index: 7;
        }
        input[type=checkbox] {
            &:checked ~ .search_field{
                top: 110%;
                z-index: 1;
            }
        }
        label {
            display: block;
            &:hover {
                cursor: pointer;
            }
        }
        img {
            margin: 0 auto;
        }
        a {
            color: $mainMenuText;
            text-transform: uppercase;
        }
        &:last-child {
            label {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }
            }
        }
    }
    .search_field {
        transition: top $animTime ease-in, z-index $animTime ease-in;
        display: flex;
        @media (min-width: 768px) {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
        input {
            border: none;
            border: 1px solid #cecece;
            padding: 6px 15px;
            height: 40px;
            flex-grow: 1;
            &:focus {
                outline: none;
                border: none;
            }
        }
        input[type=submit] {
            flex-grow: 3;
            border: 1px solid $greenStyle;
        }
    }
}
.submenu {
    list-style: none;
    background-color: $cardBg;
    padding: 5px 0;
    position: absolute;
    z-index: -1;
    top: -150px;
    left: 0;
    transition: top $animTime, z-index $animTime;
    li {
        padding: 0 20px;
        &:hover {
            background-color: #ececec;
        }
        a {
            padding: 5px 0;
            font-size: 14px;
            text-transform: none;
            white-space: pre;
        }
    }
}