@import "mixins", "global", "header";

/* main */
main {
    @media (min-width: 768px) {
        padding: 15px 0;
    }
    .slogan {
        text-align: center;
        background: #525252;
        border: 3px solid #fff;
        border-radius: 8px;
        color: $whiteText;
        padding: 10px;
        margin: 15px 5px;
    }
    .row {
        display: flex;
        flex-direction: column;
        @media (min-width: 1024px) {
            flex-direction: row;
        }
    }
}
aside {
    display: none;
    order: 1;
    @media (min-width: 1024px) {
        display: block;
        width: 30%;
        padding: 20px;
    }
    .widget {
        margin-bottom: 30px;
        img {
            width: 100%;
        }
        .widget_title {
            &::after {
                background-color: #ddd;
            }
        }
    }
}
.rating_widget {
    background-color: $cardBg;
    border: 7px solid #e6e6e6;
    padding: 20px 35px;
    color: $greenStyle;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -18px;
        right: 5%;
        width: 100%;
        height: 78px;
        background: url(../img/rating-flag.png) right / contain no-repeat;
    }
    h2 {
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    ol {
        padding-left: 15px;
        li {
            padding: 10px 0;
            border-bottom: 1px solid rgba(0, 0, 0, .12);
        }
    }
    a {
        color: $greenStyle;
    }
    .full_list {
        color: $darkBg;
        margin: 10px 0;
    }
}
.content {
    @media (min-width: 1024px) {
        width: 70%;
    }
    .card_list {
        list-style: none;
        margin: 0 -10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .ref_link {
            width: 50%;
            padding: 5px;
            @media (min-width: 768px) {
                padding: 10px;
            }
            @media (min-width: 1024px) {
                width: 33.33%;
                padding: 20px;
            }
        }
    }
    .more_btn {
        text-align: center;
        padding: 15px 0;
    }
}

/* cards */
.card {
    background-color: $cardBg;
    box-shadow: 3px 2px 10px 1px rgba(45, 45, 45, .2);
    padding: 20px 10px 0;
    border-radius: 5px;
    .mfo_logo {
        img {
            width: 100%;
        }
    }
    .hint {
        text-align: center;
        margin: 10px 0 5px 0;
        padding: 10px 0;
        font-size: 16px;
        border-top: 2px solid #DFDFDF;
        border-bottom: 2px solid #DFDFDF;
        @media (min-width: 768px) {
            font-size: 19px;
        }
    }
    .card_body {
        font-size: 13px;
        line-height: 24px;
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            line-height: 28px;
        }
    }
    .body_left {
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
    }
    .body_right {
        text-align: center;
    }
    span {
        font-weight: 700;
        color: $greenStyle;
    }
    .card_btn {
        padding: 15px 0;
        .btn {
            display: block;
            padding: 10px;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            border-radius: 5px;
            transition: opacity $animTime;
            &:hover {
                color: $whiteText;
                opacity: .85;
            }
        }
    }
}

/* page_content */
.page_content {
    padding: 20px 0;
    p {
        margin-bottom: 8px;
    }
    ul {
        margin: 20px;
        margin-right: 0;
    }
}

/* tabs */
.tabs {
    background-color: $cardBg;
    box-shadow: 0px 0px 10px 1px rgba(45, 45, 45, .2);
    border-radius: 8px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    input[type=radio] {
        display: none;
        &:checked + label span::before {
            width: 100%;
        }
    }
    .tab_item {
        width: 100%;
        padding-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        position: relative;
        z-index: 2;
        @media (min-width: 768px) {
            border-bottom: 1px solid $greenStyle;
            width: 33.333%;
        }
        span {
            position: relative;
            padding-bottom: 8px;
            text-transform: uppercase;
            &::before {
                content: '';
                display: block;
                height: 2px;
                width: 0;
                position: absolute;
                bottom: -2px;
                left: 50%;
                transform: translate(-50%);
                background-color: $greenStyle;
                transition: width $animTime;
            }
        }
    }
    .tab_block {
        display: none;
        width: 100%;
    }
    #company:checked ~ #company_content,
    #rules:checked ~ #rules_content,
    #testimonials:checked ~ #testimonials_content {
        display: block;
    }
}
.tab_block {
    margin: 20px 0 0;
    @media (min-width: 768px) {
        margin: 30px 0 0;
    }
    .btn {
        border: none;
        width: 100%;
        height: 50px;
        margin: 10px 0;
        text-transform: uppercase;
        font-weight: 700;
        &:hover {
            box-shadow: 0 5px 15px rgba(0,0,0, .3);
        }
    }
    h1 {
        font-size: 26px;
    }
    a {
        color: $greenStyle;
        display: inline-block;
    }
    img {
        width: 100%;
    }
    ul {
        padding-left: 18px;
        li {
            margin-bottom: 8px;
        }
    }
    p {
        margin-bottom: 10px;
    }
    .company_head {
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
            .company_title {
                width: 60%;
            }
        }
        .company_logo {
            height: 150px;
            background: url(../img/creditkasa5.png) center top / contain no-repeat;
            @media (min-width: 768px) {
                width: 40%;
            }
        }
    }
}
.promocode {
    margin: 20px 0;
    padding: 15px;
    background: #ecf0f3;
    border-radius: 5px;
    border-left: 5px solid #24a558;
    text-align: center;
    color: #24a558;
    width: 100%;
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
    }
    .promo_percent {
        width: 30%;
        .percent {
            font-size: 52px;
        }
    }
    .promo_description {
        text-align: left;
        .promo_button {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    .promo_title {
        text-transform: uppercase;
        margin: 15px 0;
    }
    h4,
    .promo_cta {
        color: #000;
    }
}

/* footer */
footer {
    padding: 15px;
    background-color: $darkBg;
    color: #909090;
    .row {
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .widget {
        margin-bottom: 30px;
        @media (min-width: 768px) {
            width: 50%;
            padding: 0 20px;
        }
        @media (min-width: 1024px) {
            width: 33.33%;
            padding: 0 20px;
        }
    }
    p {
        margin-bottom: 8px;
    }
    ul {
        list-style: none;
        a {
            color: $whiteText;
            line-height: 1.8;
        }
    }
}
.widget_title {
    position: relative;
    margin-bottom: 12px;
    &::after {
        content: '';
        display: block;
        background-color: $cardBg;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 10px;
        height: 1px;
        width: calc(100% - 10px);
    }
    h3 {
        display: inline-block;
        position: relative;
        padding: 6px 15px;
        color: $whiteText;
        z-index: 1;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: #24a558;
            -webkit-transform: skewX(-15deg);
            -ms-transform: skewX(-15deg);
            transform: skewX(-15deg);
        }
    }
}