// vars
$bodyBg: #ecf0f3;
$greenStyle: #24a558;
$darkBg: #1e1e1e;
$whiteText: #fff;
$mainMenuText: #777;
$cardBg: #fff;

$animTime: .3s;

/* fonts */
@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Light.ttf);
}

// mixins
@mixin btn {
    background-color: $greenStyle;
    color: $whiteText;
    padding: 6px 15px;
    transition: color $animTime, box-shadow $animTime;
    &:hover {
        cursor: pointer;
        color: #333;
    }
}
@mixin toggleBtn () {
    position: relative;
    display: block;
    height: 25px;
    width: 25px;
    @media (min-width: 768px) {
        display: none;
    }
    span {
        top: calc(50% - 1px);
    }
    span {
        position: absolute;
        display: block;
        height: 2px;
        width: 25px;
        background-color: $greenStyle;
        border: none;
        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 2px;
            width: 25px;
            background-color: $greenStyle;
            border: none;
            top: -8px;
        }
        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 2px;
            width: 25px;
            background-color: $greenStyle;
            border: none;
            top: 8px;
        }
    }
}

/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $bodyBg;
    font-family: 'Roboto Condensed', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #404040;
}
.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}
h2 {
    margin-bottom: 10px;
}
h3 {
    font-size: 18px;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
img {
    display: block;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
input[type=checkbox] {
    display: none;
}
.btn {
    @include btn();
}
.container {
    @media (min-width: 768px) {
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
    }
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $cardBg;
    box-shadow: 0 7px 7px rgba(0, 0, 0, .12);
    @media (min-width: 768px) {
        display: block;
    }
    .site_header {
        padding: 15px;
        @media (min-width: 768px) {
            background-color: $cardBg;
            .row {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .header_btn {
            font-size: 12px;
            text-transform: uppercase;
            box-shadow: 0 0 10px rgba(0, 0, 0, .4);
            padding: 6px 10px;
            @media (min-width: 768px) {
                box-shadow: none;
                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
                }
            }
        }
    }
    .logo {
        img {
            width: 135px;
            @media (min-width: 768px) {
                width: 235px;
            }
        }
    }
}
// .top_navigation {
//     background-color: $darkBg;
//     padding: 15px;
//     @media (min-width: 768px) {
//         padding: 0;
//     }
//     input[type=checkbox]:checked ~ .top_menu {
//         left: 0;
//     }
//     label {
//         @include toggleBtn();
//     }
//     .top_menu {
//         position: absolute;
//         top: 55px;
//         left: -100%;
//         z-index: 1;
//         width: 100%;
//         list-style: none;
//         padding: 15px;
//         background-color: $darkBg;
//         transition: left $animTime;
//         box-shadow: 0 7px 7px rgba(0, 0, 0, .12);
//         @media (min-width: 768px) {
//             position: relative;
//             top: 0;
//             left: 0;
//             display: flex;
//             justify-content: flex-end;
//             padding: 0;
//         }
//         li {
//             padding: 10px 0;
//             position: relative;
//             @media (min-width: 768px) {
//                 padding: 6px 15px;
//             }
//             &::after {
//                 content: '';
//                 display: block;
//                 position: absolute;
//                 bottom: 0;
//                 left: 50%;
//                 transform: translate(-50%);
//                 height: 2px;
//                 width: 0;
//                 background-color: $greenStyle;
//                 transition: $animTime;
//             }
//             &:hover {
//                 background-color: #fff;
//             }
//             &:hover a {
//                 color: $darkBg;
//             }
//             &:hover::after {
//                 width: 100%;
//             }
//             a {
//                 color: $whiteText;
//             }
//             a {
//                 font-size: 13px;
//                 color: $whiteText;
//                 text-transform: uppercase;
//             }
//         }
//     }
// }
.main_navigation {
    padding: 15px;
    @media (min-width: 768px) {
        box-shadow: 0 10px 20px -12px rgba(0, 0, 0, .42),
                    0 3px 20px 0 rgba(0, 0, 0, .12),
                    0 8px 10px -5px rgba(0, 0, 0, .2);
        background-color: $cardBg;
        padding: 0;
    }
    input[type=checkbox]:checked ~ .main_menu {
        right: 0;
    }
    label {
        @include toggleBtn();
    }
}
.main_menu {
    display: inline-block;
    height: 100vh;
    list-style: none;
    position: absolute;
    top: 55px;
    right: -105%;
    padding: 15px;
    background-color: $cardBg;
    box-shadow: 0 7px 7px rgba(0, 0, 0, .12);
    transition: right $animTime;
    @media (min-width: 768px) {
        text-align: center;
        box-shadow: none;
        position: relative;
        top: 0;
        right: 0;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }
    > li {
        padding: 10px 0;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            height: 2px;
            width: 0;
            background-color: $greenStyle;
            transition: $animTime;
        }
        &:hover::after {
            width: 100%;
        }
        &:hover > .submenu {
            top: 65px;
            z-index: 0;
        }
        input[type=checkbox] {
            &:checked ~ .search_field{
                top: 110%;
                z-index: 1;
            }
        }
        label {
            display: block;
            &:hover {
                cursor: pointer;
            }
        }
        img {
            margin: 0 auto;
        }
        a {
            color: $mainMenuText;
            text-transform: uppercase;
        }
        &:last-child {
            label {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }
            }
        }
    }
    .search_field {
        transition: top $animTime ease-in, z-index $animTime ease-in;
        display: flex;
        @media (min-width: 768px) {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
        input {
            border: none;
            border: 1px solid #cecece;
            padding: 6px 15px;
            height: 40px;
            flex-grow: 1;
            &:focus {
                outline: none;
                border: none;
            }
        }
        input[type=submit] {
            flex-grow: 3;
            border: 1px solid $greenStyle;
        }
    }
}
.submenu {
    list-style: none;
    background-color: $cardBg;
    padding: 5px 0;
    position: absolute;
    z-index: -1;
    top: -150px;
    left: 0;
    transition: top $animTime, z-index $animTime;
    li {
        padding: 0 20px;
        &:hover {
            background-color: #ececec;
        }
        a {
            padding: 5px 0;
            font-size: 14px;
            text-transform: none;
            white-space: pre;
        }
    }
}

/* main */
main {
    @media (min-width: 768px) {
        padding: 15px 0;
    }
    .slogan {
        text-align: center;
        background: #525252;
        border: 3px solid #fff;
        border-radius: 8px;
        color: $whiteText;
        padding: 10px;
        margin: 15px 5px;
    }
    .row {
        display: flex;
        flex-direction: column;
        @media (min-width: 1024px) {
            flex-direction: row;
        }
    }
}
aside {
    display: none;
    order: 1;
    @media (min-width: 1024px) {
        display: block;
        width: 30%;
        padding: 20px;
    }
    .widget {
        margin-bottom: 30px;
        img {
            width: 100%;
        }
        .widget_title {
            &::after {
                background-color: #ddd;
            }
        }
    }
}
.rating_widget {
    background-color: $cardBg;
    border: 7px solid #e6e6e6;
    padding: 20px 35px;
    color: $greenStyle;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -18px;
        right: 5%;
        width: 100%;
        height: 78px;
        background: url(../img/rating-flag.png) right / contain no-repeat;
    }
    h2 {
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    ol {
        padding-left: 15px;
        li {
            padding: 10px 0;
            border-bottom: 1px solid rgba(0, 0, 0, .12);
        }
    }
    a {
        color: $greenStyle;
    }
    .full_list {
        color: $darkBg;
        margin: 10px 0;
    }
}
.content {
    @media (min-width: 1024px) {
        width: 70%;
    }
    .card_list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .ref_link {
            width: 50%;
            padding: 5px;
            @media (min-width: 768px) {
                padding: 10px;
            }
            @media (min-width: 1024px) {
                width: 33.33%;
                padding: 20px;
            }
        }
    }
    .more_btn {
        text-align: center;
        padding: 15px 0;
    }
}

/* cards */
.card {
    background-color: $cardBg;
    box-shadow: 3px 2px 10px 1px rgba(45, 45, 45, .2);
    padding: 20px 10px 0;
    border-radius: 5px;
    .mfo_logo {
        img {
            width: 100%;
        }
    }
    .hint {
        text-align: center;
        margin: 10px 0 5px 0;
        padding: 10px 0;
        font-size: 16px;
        border-top: 2px solid #DFDFDF;
        border-bottom: 2px solid #DFDFDF;
        @media (min-width: 768px) {
            font-size: 19px;
        }
    }
    .card_body {
        font-size: 13px;
        line-height: 24px;
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            line-height: 28px;
        }
    }
    .body_left {
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
    }
    .body_right {
        text-align: center;
    }
    span {
        font-weight: 700;
        color: $greenStyle;
    }
    .card_btn {
        padding: 15px 0;
        .btn {
            display: block;
            padding: 10px;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            border-radius: 5px;
            transition: opacity $animTime;
            &:hover {
                color: $whiteText;
                opacity: .85;
            }
        }
    }
}

/* page_content */
.page_content {
    padding: 20px 15px;
    p {
        margin-bottom: 8px;
    }
    ul {
        margin: 20px;
        margin-right: 0;
    }
}

/* footer */
footer {
    padding: 15px;
    background-color: $darkBg;
    color: #909090;
    .row {
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .widget {
        margin-bottom: 30px;
        @media (min-width: 768px) {
            width: 50%;
            padding: 0 20px;
        }
        @media (min-width: 1024px) {
            width: 33.33%;
            padding: 0 20px;
        }
    }
    p {
        margin-bottom: 8px;
    }
    ul {
        list-style: none;
        a {
            color: $whiteText;
            line-height: 1.8;
        }
    }
}
.widget_title {
    position: relative;
    margin-bottom: 12px;
    &::after {
        content: '';
        display: block;
        background-color: $cardBg;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 10px;
        height: 1px;
        width: calc(100% - 10px);
    }
    h3 {
        display: inline-block;
        position: relative;
        padding: 6px 15px;
        color: $whiteText;
        z-index: 1;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: #24a558;
            -webkit-transform: skewX(-15deg);
            -ms-transform: skewX(-15deg);
            transform: skewX(-15deg);
        }
    }
}